.card {
  width: 100%;
  text-align: left;
  border: 1px solid #e0e0e0;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  background-color: var(
    --mantine-color-purple-primary-1
  ); /* Lighter purple on hover */
  border-color: var(
    --mantine-color-purple-primary-3
  ); /* Purple border on hover */
  box-shadow: var(--mantine-shadow-md); /* Subtle shadow */
  color: var(--mantine-color-black);
}

.card:hover .tag {
  color: var(--mantine-color-black);
}

.card:focus-visible {
  outline: 2px solid var(--mantine-color-purple-primary-6); /* Stronger purple outline on focus */
  outline-offset: 2px;
}

.expandedContent {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px; /* To prevent content from being hidden by scrollbar */
}

.githubIcon {
  background: transparent !important;
  transition: color 0.2s ease;
}

.githubIcon:hover {
  background: var(
    --mantine-color-purple-primary-6
  ) !important; /* Change color on hover */
}

.githubIcon:focus {
  background: var(
    --mantine-color-purple-primary-6
  ) !important; /* Change color on hover */
}
